$color-primary: #60b0f4;
$color-secondary: #336799;
$color-tertiary: #00487C;
$light-gray: #f5f7f8;
$medium-gray: #cdd1d5;
$dark-gray: #b8b8b5;
$blue-gary: #D6EDFF;
$color-white: #fff;
$color-black: #000;

$secondary-font: 'Open Sans', sans-serif;


//possible new primary 
//#60b0f4