.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
  &:visited {
    color: $color-white;
  }
}

.dropdown-toggle {
  @include respond(tab-port) {
    font-size: 2rem !important;
  }
}

.nav-btn {
  font-size: 2.4rem !important;

  @include respond(tab-port) {
    font-size: 2rem !important;
  }
}

a {
  text-decoration: none !important;

  &:focus {
    outline: none;
  }

  &:visited {
    color: $color-primary;
  }
}

.button-link {
  &:link {
    color: $color-white;
  }
  &:visited {
    color: $color-white;
  }
}
