.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;

}

.nav-btn {
    font-size: 3rem;
}

a {
  text-decoration: none !important;

  &:focus {
    outline: none;
  }

  &:visited {
    color: $color-primary;
  }
}

