.map {
  &-col {
    height: 35rem;
    width: 35rem;
    margin: auto;
    margin-bottom: 25rem;

    @include respond(phone) {
      height: 30rem;
      width: 30rem;
    }
  }

  &-header {
    margin: 0 auto;
    margin-bottom: 4rem;
    color: $color-primary;
    font-size: 5rem;
    text-align: center;
  }

  &-address {
    font-size: 2.2rem;
    text-align: center;

    &-subtext {
      font-family: $secondary-font;
      color: $color-tertiary;
      margin-bottom: 2rem;
    }

    &-top-line {
      border-top: solid 1px $color-tertiary;
      display: inline;
      padding-bottom: 0.3rem;
    }

    &-bottom-line {
      border-bottom: solid 1px $color-tertiary;
      display: inline;
      padding-bottom: 0.3rem;
    }
  }

  &-item {
    position: relative !important;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.35);
  }
}
