/* universal selector will select every element on the page and apply the properties you describe */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem will now equal 10px (10/16 = 62.5% -> 16px is default font-size)
}

// all properties in body are inherited to all its child elements
body {
  box-sizing: border-box;
  font-family: "Bitter", serif;
  background-color: $color-white;
}

.app {
  width: 100%;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

.content-container {
  background-color: $color-white;
  padding-top: 10rem;
}
